/** Cards book **/

.lastBook {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerBooks {
    justify-content: center;
    gap: 30px;
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 0 10%;
    flex-wrap: wrap;
}

#linkCardsBooks {
    width: 25%;
    max-width: 200px;
    background-color: transparent;
    margin: 0px;
    height: 325px;
}

.bookCards {
    position: relative;
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    background-color: #FFFFFF;
}

.bookCards img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

.badgeUnavailable {
    position: absolute;
    top: 10px;
    right: 10px;

    background: #C56D6D;
    color: white;
    padding: 6px 20px;
    border-radius: 20px;

    font-size: 8px;
    font-weight: 500;

    z-index: 10;
}

.bookCards h2 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 15px;  
}

.bookCards h3 {
    color: var(--textGrey);
    font-size: 14px;
    font-weight: 400;  
    margin-left: 15px;
    margin-bottom: 20px; 
}

.bookCards p {
    color: var(--textGrey);
    font-size: 10px;
    font-weight: 400;  
    margin-left: 15px; 
}

/** page research book **/

.containerResearch {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.containerResearch h2 {
    margin-bottom: 0;
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchBox {
    position: relative;
}

.searchBox img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.searchBox input {
    width: 322px;
    height: 50px;
    padding-left: 45px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
}

/** Book details **/

.containerBookDetails {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.containerBookDetails img {
    width: 50%;
    object-fit: cover;

}

.containerBookText {
    background-color: #FAF9F7;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
}

.containerBookText h2 {
    font-weight: 400;
    font-size: 36px;
    color: black;
    font-family: "Playfair Display", serif;
    margin-bottom: 15px;
    margin-top: 40px;
}

.containerBookText h3 {
    font-weight: 400;
    font-size: 16px;
    color: var(--textGrey);
    margin-bottom: 20px;
}

.containerBookText p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 10px;
}

#descriptionText {
    font-weight: bold;
    font-size: 8px;  
}

#detailsUserBook {
    margin-top: 30px;
    font-weight: bold;
    font-size: 8px;     
}

.spacer {
    display: block;
    height: 1px;
    width: 27px;
    border: 1px solid var(--textGrey);
    margin-bottom: 20px;
}

.userCreate {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 114px;
}

.userCreate img {
    margin: 10px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.userCreate p {
    margin-right: 30px;
    margin-bottom: 0px;
}

.containerBookText a {
    margin-top: 20px;
    width: 100%!important;
}


/*  Mobile  */

@media(max-width:768px){

/** box page **/

.lastBook {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

/** page research book **/

.containerResearch {
    width: 100%;
    flex-direction: column;
    display: flex;
    margin-bottom: 10px;
    margin-top: 50px;
    align-items: flex-start;
}

.containerBooks {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding: 0 0px;
}

.lastBook h2 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 30px;
}

.containerResearch h2 {
    margin-bottom: 15px;
}

.searchBox {
    width: 100%;
}

.searchBox input {
    width: 100%;
    height: 50px;
}

/** Cards Book **/

#linkCardsBooks {
    margin: 0px;
    height: 250px;
}

.bookCards {
    width: 100%;
    height: 250px;
}

.bookCards h2 {
    color: black;
    font-size: 13px;
    font-weight: 400;
}

.bookCards h3 {
    color: var(--textGrey);
    font-size: 11px;
    font-weight: 400;
}

.bookCards p {
    color: var(--textGrey);
    font-size: 8px;
    font-weight: 400;
}

/** details book  **/

.containerBookDetails {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.containerBookText {
    background-color: #FAF9F7;
    width: 100%;
    padding: 0 20px;
    padding-bottom: 30px;
}

.containerBookDetails img {
    width: 100%;
    object-fit: cover;
}

.containerBookText h2 {
    font-weight: 400;
    font-size: 30px;
}


}
