/**
 * Reset css.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/**
 * Create var color
 */
:root {
    --lightGrey: #f1f0eb;
    --textGrey: #A6A6A6;
    --blackGrey: #292929;
    --greenPrimary: #00AC66;
    --articleBackgroundLight: #FAF9F7;
    --articleBackground: #f5f3ef;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh
}

/**
 * Parms button green
 */
article a:not(.buttonWhiteGreen) {
    background-color: var(--greenPrimary);
    color: white;
    width: 10%;
    height: 63px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    min-width: 150px;
}

/**
 * Parms button white green
 */
.buttonWhiteGreen {
    background-color: var(--lightGrey);
    color: var(--greenPrimary);
    width: 10%;
    height: 63px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    min-width: 150px;
    border: solid 1px var(--greenPrimary);
}

/**
 * Parms navigation bar
 */
header nav {
    background-color: var(--articleBackground);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding: 0 20px;
    height: 80px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

header nav li {
    display: flex;
    align-items: center;
}

header nav img {
    height: 51px;
    width: 155px;
    padding-right: 20px!important;
}

li a {
    color: var(--blackGrey);
    font-weight: 300;
    size: 14px;
}

li a:hover {
    color: var(--greenPrimary);
}

/**
 * Parms footer
 */
.footer ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 61px;
    width: 100%;
}

.footer li {
    margin-right: 30px;
    font-weight: 300;
    font-size: 12px;
}