.chat{
    display:flex;
    height:100vh;
    padding: 0 20px;
}

/* ---------------- Sidebar ---------------- */

.sidebar{
    width:320px;
    display:flex;
    flex-direction:column;
    background-color: #FAF9F7;
}

.sidebar h2 {
    color: black;
    font-size: 26px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar-header{
    padding:20px;
    border-bottom:1px solid #ddd;
}

.sidebar-header h2{
    margin-bottom:15px;
}

.sidebar-header input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.conversation{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    cursor:pointer;
    border-bottom:1px solid #eee;
    transition:.3s;
}

.conversation h3 {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.conversation p {
    color: var(--textGrey);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.conversation span{
    font-size:12px;
    color:black;
}

.conversation:hover{
    background:#f5f5f5;
}

.conversation.active{
    background:#e8f0ff;
}

.conversation img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.conversation div{
    flex:1;
}

/* ---------------- Chat ---------------- */

#backButton{
    display:none;
    border:none;
    background:none;
}

.chat-window{
    flex:1;
    display:flex;
    flex-direction:column;
    background-color: var(--articleBackground);
}

.chat-header{
    background:white;
    padding:15px 25px;
    display:flex;
    align-items:center;
    gap:15px;
    background-color: var(--articleBackground);
}

.chat-header img{
    width:45px;
    height:45px;
    border-radius:50%;
}

.messages{
    flex:1;
    padding:25px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.message{
    max-width:70%;
    padding:12px 18px;
    border-radius:18px;
    word-wrap:break-word;
    font-size: 12px;
    font-weight: 400;
}

.received{
    align-self:flex-start;
    background:#EDF2F6;
    color:black;
}

.sent{
    align-self:flex-end;
    background:#FFFFFF; 
    color:black;
}

.chat-input{
    display:flex;
    gap:10px;
    padding:15px;
    background:white;
    border-top:1px solid #ddd;
    flex-direction: row;
}

.chat-input input{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:25px;
    outline:none;
}

.chat-input button{
    padding:12px 20px;
    border:none;
    background:#0084ff;
    color:white;
    border-radius:25px;
    cursor:pointer;
}

.chat-input button:hover{
    background:#006edc;
}

/* ---------------- Mobile ---------------- */

@media(max-width:768px){

    .sidebar{
        background-color: var(--articleBackgroundLight);
        width:100%;
    }

    .chat-window{
        background-color: var(--articleBackgroundLight);
        margin-top: 10px;
        display:none;
    }

    #backButton{
        display:block;
    }

    /** Header tchat messenger **/

    .chat-header {
        background-color: transparent;
        border-bottom: none;
    }

    .chatName {
        color: black;
        font-size: 14px;
        font-weight: 600 bold;
    }

    /** input send messenger **/

    .chat-input {
        flex-direction: column;
        background-color: transparent;
            border-top: none;
    }

    .chat-input input{
        height: 50px;
        width: 100%;
        flex:1;
        padding:12px;
        border:1px solid #ccc;
        border-radius: 6px;
        outline:none;
    }

    .chat-input button{
        background-color: var(--greenPrimary);
        color: white;
        padding:12px 20px;
        border:none;
        border-radius:10px;
        cursor:pointer;
        height: 50px;
        width: 100%;
    }

    .chat-input button:hover{
        background-color: var(--lightGrey);
    }

    .buttonBack {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .buttonBack button {
        color: var(--textGrey);
        font-size: 14px;
        font-weight: 400;
    }

}