.chat{
    display:flex;
    height: 79vh;
    padding: 0;
    margin-top: -10px;
}

/*  Sidebar  */

.sidebar{
    padding-left: 20px;
    width:320px;
    display:flex;
    flex-direction:column;
    background-color: #FAF9F7;
}

.sidebar h2 {
    color: black;
    font-size: 26px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar-header{
    padding:20px;
    border-bottom:1px solid #ddd;
}

.sidebar-header h2{
    margin-bottom:15px;
}

.sidebar-header input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.conversation{
    display:flex;
    align-items:center;
    gap:15px;
    padding:15px;
    cursor:pointer;
    border-bottom:1px solid #eee;
    transition:.3s;
}

.conversation h3 {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.conversation p {
    color: var(--textGrey);
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.conversation span{
    font-size:12px;
    color:black;
}

.conversation:hover{
    background:#f5f5f5;
}

.conversation.active{
    background:#e8f0ff;
}

.conversation img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.conversation div{
    flex:1;
}

/*  Chat  */

#backButton{
    display:none;
    border:none;
    background:none;
}

.chat-window{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    padding-right: 20px;
    overflow: hidden;
    background-color: var(--articleBackground);
}

.chat-header{
    background:white;
    padding:15px 25px;
    display:flex;
    align-items:center;
    gap:15px;
    background-color: var(--articleBackground);
}

.chat-header img{
    width:45px;
    height:45px;
    border-radius:50%;
}

.messages{
    flex:1;
    padding:25px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.message{
    max-width:70%;
    word-wrap:break-word;
    font-size: 12px;
    font-weight: 400;
}

.received {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self:flex-start;
    color:black;
}

.received .box-message {
    border-radius:18px;
    padding: 12px 18px;
    background:#EDF2F6;
    color:black;
}

.received-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.received-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.received-user p {
    color: var(--textGrey);
    font-size: 12px;
    font-weight: 400;
}

.sent {
    align-self:flex-end;
    background:#FFFFFF; 
    color:black;
}

.sent .box-message {
    border-radius:18px;
    padding: 12px 18px;
    background:#FFFFFF; 
    color:black;
}

.sent .received-user {
    display: none;
}

.chat-input{
    display:flex;
    gap:10px;
    padding:15px;
    background:transparent;
    flex-direction: row;
}

.chat-input input{
    height: 50px;
    width: 85%;
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
}

.chat-input button{
    height: 50px;
    width: 15%;
    padding:12px 20px;
    border:none;
    background:var(--greenPrimary);
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.chat-input button:hover{
    background: #04f192;
}

/*  Mobile  */

@media(max-width:768px){

    .chat{
        height: 85vh;
        padding: 0px;
    }

    .sidebar{
        width:100%;
        padding-right: 20px;
        padding-left: 20px;
        background-color: var(--articleBackgroundLight);
    }

    .chat-window{
        display:none;
        width:100%;
        background-color: var(--articleBackgroundLight);
        margin-top:10px;
    }

    /* conv open */
    .chat.open .sidebar{
        display:none;
    }

    .chat.open .chat-window{
        display:flex;
    }

    #backButton{
        display:block;
    }

    /** Header **/

    .chat-header{
        background:transparent;
        border-bottom:none;
    }

    .chat-header h2{
        color:black;
        font-size:14px;
        font-weight:600;
    }

    /** Bouton back **/

    .buttonBack{
        display:flex;
        align-items:center;
        padding:10px;

    }

    #backButton {
        color:var(--textGrey);
        font-size:14px;
        background:none;
        border:none;
        cursor:pointer;
    }

    /** message **/

    .received-user img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }

    /** form **/

    .chat-input{
        flex-direction:column;
        background:transparent;
        border-top:none;
    }

    .chat-input input{
        width:100%;
        height:50px;
        border:1px solid #ccc;
        border-radius:6px;
        padding:12px;
    }

    .chat-input button{
        width:100%;
        height:50px;
        border:none;
        border-radius:10px;
        background:var(--greenPrimary);
        color:white;
        cursor:pointer;
    }

    .chat-input button:hover{
        background:var(--lightGrey);
    }

}